<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--constructor/setter-->
    <!--standard-->
<!--    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy">-->
<!--        <constructor-arg name="databaseName" value="mysql"/>-->
<!--        <constructor-arg name="connectionNum" value="10"/>-->
<!--    </bean>-->
<!--    <bean id="userDao2" class="org.example.dao.impl.UserDaoImpl"/>-->
<!--    <bean id="bookService" name="service" class="org.example.service.impl.BookServiceImpl">-->
<!--        <constructor-arg name="bookDao" ref="bookDao"/>-->
<!--        <constructor-arg name="userDao" ref="userDao2"/>-->
<!--    </bean>-->

    <!--autowire-->
<!--    <bean class="org.example.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy"/>-->
<!--    <bean class="org.example.dao.impl.UserDaoImpl"/>-->
<!--    <bean id="bookService" class="org.example.service.impl.BookServiceImpl" autowire="byType"/>-->
    
    <!--collection-->
    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl">
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>hello</value>
                <value>bye</value>
                <value>seeyou</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>hello</value>
                <value>bye</value>
                <value>seeyou</value>
                <value>seeyou</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="country" value="china"/>
                <entry key="province" value="guangdong"/>
                <entry key="city" value="guangzhou"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="country">china</prop>
                <prop key="province">guangdong</prop>
                <prop key="city">guangzhou</prop>
            </props>
        </property>
    </bean>
    <!--static factory-->
<!--    <bean id="orderDao" class="org.example.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->
<!--    &lt;!&ndash;factory&ndash;&gt;-->
<!--    <bean id="userFactory" class="org.example.factory.UserDaoFactory"/>-->
<!--    <bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/>-->
<!--    &lt;!&ndash;factory bean&ndash;&gt;-->
<!--    <bean id="userDaoBean" class="org.example.factory.UserDaoFactoryBean"/>-->
</beans>